@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

:host ::ng-deep {
  --dark-blue: #4375A3;
  --dark-black: #111111;
  --light-blue: #5e6f82;
  --opacity-dark-blue: #5b748f8a;
  --color-transition: #e3e2e1;
  --menu-height: 50px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; 
  overflow: hidden !important;
}

#app {
  margin-top: var(--menu-height);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.top-menu {
  background: var(--dark-blue);
  width: 100%;
  height: var(--menu-height) !important;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  
  /* .toogle-icon {
    position: fixed;
    left: 7px;
    width: 22px !important;
    height: 22px !important;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10000 !important;
  }
  
  .bar-center {
    margin: 3px 0px;
  }

  input[type="checkbox"]{
    display: none;
  }
  
  input[type="checkbox"]:checked~.sidebar {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
  }
  
  input[type="checkbox"]:checked~.toogle-icon>.bar-top {
    transform: rotate(135deg);
    margin-top: 8px;
  }
  
  input[type="checkbox"]:checked~.toogle-icon>.bar-center {
    opacity: 0;
  }
  
  input[type="checkbox"]:checked~.toogle-icon>.bar-bottom {
    transform: rotate(-135deg);
    margin-top: -14px;
  }   */

  .toogle-icon div {
    background-color: #F1e8e6;
    width: 100%;
    height: 4px;
    transition: all 0.3s;
    z-index: 99999 !important;
  }
  
  .toogle-icon {
    left: 7px;
    width: 22px !important;
    height: 22px !important;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10000 !important;
  }
  
  .bar-top {
    transform: rotate(135deg);
    margin-top: 8px;
  }
  
  .bar-center {
    margin: 3px 0px;
    opacity: 0;
  }
  
  .bar-bottom {
    transform: rotate(-135deg);
    margin-top: -14px;
  }
  
  input[type="checkbox"]{
    display: none;
  }
  
  input[type="checkbox"]:checked~.sidebar {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
  }
  
  input[type="checkbox"]:checked~.toogle-icon>.bar-top {
    transform: rotate(0deg);
    margin-top: 0px;
  }
  
  input[type="checkbox"]:checked~.toogle-icon>.bar-center {
    opacity: 1;
  }
  
  input[type="checkbox"]:checked~.toogle-icon>.bar-bottom {
    transform: rotate(0deg);
    margin-top: 0px;
  }

  .logo {
    img {
      width: 50px !important;
      height: 25px !important;
      margin-top:  5px!important;
    }
  }

  .alignNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Modificado */
    margin-left: 10px;
    width: 100%;
    padding: 0 20px;
  }

  .time {
    font-family: 'Digital-7 Mono', sans-serif, Arial, sans-serif !important;
    font-size: 18px !important;
    margin-top: 3px;
  }
  
  .rightAlign i {
    color: #FFF
  }
  
  .navHeight {
    display: flex !important;
    font-family: 'Digital-7 Mono', sans-serif, Arial, sans-serif !important;
    font-size: 16px !important;
    color: #FFF;
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF,
     0 0 40px #51C8E0, 0 0 70px #51C8E0, 0 0 80px #51C8E0, 0 0 100px #51C8E0, 0 0 150px #51C8E0;
    p{
      margin-right: 15px;
    }
    margin-right: 0; 
  }
}

.lateral-menu {
  background-color: var(--color-transition) !important;
  width: 0;
  height: 100vh;
  padding-bottom: 40px; 
  max-height: 200vh; 
  transition: width 0.5s;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #F1e8e6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #DDDD;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #CCC;
  }
  
  .profile {
    text-align: center;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    -ms-transition: opacity 0.3s, visibility 0.3s;
    -o-transition: opacity 0.3s, visibility 0.3s; 
    
    img {
      width: 100px;
      height: 100px;
      object-fit: conver;
      object-position: top;
      border-radius: 100px;
      border: 2px solid #F1e8e6;
    }

    h3 {
      margin: 10px 0;
      color: #111;
    }

    li {
      list-style: none;
      display: inline-flex;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      margin: 0 5px;
      font-size: 20px;
      padding: 10px;
      transition: all 0.5s;
      &:hover{
        background-color: #F1e8e6;
        color: #4375A3 !important;
        transform: rotate(360deg);
      }

      &.active {
        visibility: visible;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
        -webkit-transition: opacity 0.3s, visibility 0.3s;
        -moz-transition: opacity 0.3s, visibility 0.3s;
        -ms-transition: opacity 0.3s, visibility 0.3s;
        -o-transition: opacity 0.3s, visibility 0.3s; 
      }
      
      a {
        display: flex;
        text-align: center;
      }
    }
  }  
    
  ul {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    -ms-transition: opacity 0.3s, visibility 0.3s;
    -o-transition: opacity 0.3s, visibility 0.3s;
    list-style: none;
    padding: 0;
    margin: 0;

    .footer {
      width: 250px;
      bottom: 0;
      height: 10%;
    }

    li{
      color: var(--dark-black) !important;
      height: 65px;
      padding: 0 15px;
      white-space: nowrap;

      &:hover {
        background-color: #F1e8e6;
      }
      &.active {
        background-color: #F1e8e6;
      }
      
      i {
        width: 10px;
        margin-right: 25px;
      }
      
      a{
        text-decoration: none;
        color: var(--dark-black);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        height: 100%;
        &:hover {
          color: var(--dark-blue);
          transition: all 0.3s !important;
          font-weight: bold !important;
        }
        &.active {
          color: #4375A3 !important;
          font-weight: bold !important;
        }
      }
    }
  }
  &.active {
    transition: width 0.5s;
    width: 250px;
    .profile {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s, visibility 0.3s;
      -webkit-transition: opacity 0.3s, visibility 0.3s;
      -moz-transition: opacity 0.3s, visibility 0.3s;
      -ms-transition: opacity 0.3s, visibility 0.3s;
      -o-transition: opacity 0.3s, visibility 0.3s;
    }
    ul  {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s, visibility 0.3s;
      -webkit-transition: opacity 0.3s, visibility 0.3s;
      -moz-transition: opacity 0.3s, visibility 0.3s;
      -ms-transition: opacity 0.3s, visibility 0.3s;
      -o-transition: opacity 0.3s, visibility 0.3s;
    }
  }
}

.profile li .active {
  background-color: #F1e8e6 !important;
  color: #4375A3 !important;
}

@media screen and (max-width: 440px) {
  .displayDate{
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .lateral-menu {
    position: fixed !important;
    z-index: 99999;
    top: var(--menu-height);
    left: 0;

    &.active {  
      width: 100% !important;
    }
  }  
}

@media screen and (max-width: 480px) {
  .lateral-menu {
    &.active {  
      position: fixed !important;
      width: 100% !important;
    }
  }  
}

.router-outlet {
  width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow-x: hidden; 
}


