/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/*
#4375A3
#6251E0
#516EE0
#51C8E0
#9151E0 
 */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
 overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

label {
  font-weight: bold;
}

button {
  color: #FFFF !important;
}
.swal2-popup {
  font-family: 'Poppins', sans-serif;
}

.toast-top-right {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.p-selectbutton .p-button.p-highlight {
  background: linear-gradient(45deg, #6251E0, #51C8E0);
  border-color: #516EE0; 
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #51C8E0;
  border-color: #9151E0;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: linear-gradient(45deg, #6251E0, #51C8E0);
}

.p-button:enabled:hover {
  background: #6251E0;
  color: #ffffff;
  border-color: #6251E0;
}


.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: #4375A3;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: #4375A3;
}

.p-selectbutton.p-buttonset.p-component {
    margin-top: -10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-size: 14px;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
  background:#516EE0;
}

